---
// ProfileSection component for displaying user profile information
import SocialLinks from './SocialLinks.astro';
import LinksList from './LinksList.astro';
import LinkButton from './LinkButton.astro';

interface Props {
  name: string;
  title: string;
  subtitle: string;
  avatar: string;
  socialLinks: Array<{
    platform: string;
    url: string;
    icon: string;
  }>;
  profileLinks: Array<{
    title: string;
    url: string;
    icon?: string;
    modal?: string;
  }>;
}

const { name, title, subtitle, avatar, socialLinks, profileLinks } = Astro.props;
---

<div class="flex flex-col items-center text-center px-4 pb-12 pt-6 relative neo-container mb-6">
  <!-- Dark/Light Mode Toggle -->
  <!-- <div class="absolute top-2 right-2">
    <ToggleTheme 
      iconClass="w-6 h-6"
      iconStyle="color: var(--biolink-accent-text-color)" 
      class="focus:ring-2"
      style="--hover-bg: var(--biolink-section-background); --focus-ring: var(--aw-primary-color);"
      onmouseover="this.style.backgroundColor = this.style.getPropertyValue('--hover-bg')"
      onmouseout="this.style.backgroundColor = 'transparent'"
      onfocus="this.style.setProperty('box-shadow', '0 0 0 2px ' + this.style.getPropertyValue('--focus-ring'))"
      onblur="this.style.removeProperty('box-shadow')"
    />
  </div> -->

  <!-- Profile Avatar -->
  <div class="w-48 h-48 mb-6 overflow-hidden rounded-full neo-border" style="border-color: var(--biolink-accent-text-color)">
    <img 
      src={avatar} 
      alt={`${name}'s profile picture`} 
      class="w-full h-full object-cover"
    />
  </div>
  
  <!-- Profile Info -->
  <h1 class="text-lg font-heading leading-relaxed" style="color: var(--biolink-body-text-color)">{name}</h1>
  <h2 class="text-sm font-heading mb-4 tracking-tight max-w-sm mx-auto" style="text-wrap: balance; color: var(--biolink-accent-text-color);" >{title}</h2>
  <p class="text-xs font-mono font-semibold mb-4 tracking-tight max-w-sm mx-auto" style="text-wrap: balance; color: var(--biolink-body-text-color);" >{subtitle}</p>
  <!-- <p class="text-sm text-default max-w-md mb-4">{description}</p> -->
  <SocialLinks links={socialLinks} />
  
  <!-- Profile Links -->
  <div class="w-full">
    <LinksList links={profileLinks} />
  </div>
  
</div> 